.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #774d1d;
  background-color: #f6a475;
  background-image: linear-gradient(135deg, #f6a475 4%, #f8d67c 30%, #e7b57a 49%, #e78e45 68%, #eb9526 84%);*/
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #ffe53bdc 0%, #d33535 74%);
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

